<%= render 'layouts/home_nav' %>

<% provide(:title, 'Edit user')%>
<h1>Update Password</h1>
<div class = 'row'>
    
    <div class='col-md-6 col-md-offset-3'>
        <%= form_for(@user) do |f|%>
            <%= render 'shared/error_messages'%>
            <h2><%= "#{@user.username}" %></h2><br>
            
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form_control'%><br>
            
            <%= f.label :password_confirmation, 'Confirmation'%>
            <%= f.password_field :password_confirmation, class: 'form_control'%></br>
            <%= f.submit 'Save Changes', class: 'btn btn-primary'%>
        <%end%>
    </div>    
</div>
