<% provide(:title, 'New Account') %>
<%= render 'layouts/home_nav'%>
<h1>Create New Account</h1>

<div class ="center">
    <%= form_for(@user) do |f|%>
        
        <%= render 'shared/error_messages'%>
        
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form_control'%><br>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form_control' %><br>
        <%= f.label :password_confirmation, "Confirmation"%>
        <%= f.password_field :password_confirmation, class: 'form_control'%><br>
            
        <%= f.submit "Create my account", class: "btn btn-primary"%>
            
    <%end%>
</div>