<% provide(:title, @user.username)%>
<%= render 'layouts/home_nav' %>
<div class='row'>
    <div class= 'col-md-8'>
        <%if @user.books.any?%>
            <h2><%= "#{@user.username}'s " %>Books (<%= @user.books.count %>)</h2>
            <ol class= 'books'>
                <%= render @books%>
            </ol>
            <%= will_paginate @books %>
            
        <%else%>
            <h2><%= "#{@user.username} has no books. Add a " %>Books (<%= @user.books.count %>)</h2>
        <%end%>
    </div>
</div>