<h1>Books#add</h1>
<% @page_title = "Add New Book"%>

<%= form_with model: @book, url: books_create_path, local:true do |f| %> <!--:author, -->
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %> <!--form.method-->
    </p>
    <div class="dropdown">
        <button class = "btn btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown">Author
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <% @authors.each do |a| %>
                <% a.fName %><%a.lName%>
            <%end%>
        </ul>
    
    <button class="btn btn-outline-success"><%= link_to "Add Author", authors_add_path, style:'color:#006400;' %></button> <!--link_to does not generate input type= 'submit'-->
    </div>
    <p>
        <%= check_box_tag(:want_read, value =1) %>
        <%= label_tag(:want_read, "To Read")%>
        <br>
        
        <% if check_box_tag%>
        <%= check_box_tag(:read, value=1) %>
        <%= label_tag(:read, "Read")%>
        
        <%#if %>
        <%#end%>
    </p>
    
    <%= f.radio_button :age, "child"%>
    <p>
        <%= f.label :yr_published%><br>
    </p>
    
    
<p>
<%= f.submit "Submit" %>
</p>

<% end %>