<% provide(:title, 'Edit Book') %>
<%= render 'layouts/home_nav'%>
<h2><%= "Edit Book: #{@book.title}" %> </h2>
<div class='row'>
        <%= form_for(@book) do | f| %>
            <td><p>
                <%= f.label :author_first %><br>
                <%= f.text_field :author_first, :value => @book.author_first %></p></td>
            <p><td>
                <%= f.label :author_last %><br>
                <%= f.text_field :author_last, :value => @book.author_last %></p></td>
            <td><p>
            <td><p>
                <%= f.label 'Year published'%><br>
                <%= f.text_field :yr_published, :value => @book.yr_published %>
                <%#= label_tag(:yr_published, "Year Published ")%>    
                <%#= select_year(Date.today, :start_year => Time.now.year, :end_year => Time.now.year - 400, :field_name => :yr_published, ) %>
            </p></td>
            <p><td>
                <%= f.label 'ISBN' %><br>
                <%= f.text_field :ISBN, :value => @book.ISBN %></p></td>
            <td><p>
                <%=check_box_tag('book[own]') %>
                <%= label_tag(:own, "I own this book")%><br>
      
                <%= check_box_tag('book[want_own]')%>
                <%= label_tag(:want_own, "I want to own this book")%><br>
            
                <%= check_box_tag('book[want_read]')%>
                <%= label_tag(:want_read, "I want to read this book")%><br>
                
                <%= check_box_tag('book[read]')%>
                <%= label_tag(:read, "Have read this book") %><br>
                
                <%= label_tag(:yr_read, "Year read ")%>    
                <%#= select_year(Date.today, :start_year => Time.now.year, :end_year => Time.now.year - 95, :field_name => :yr_read, ) %><br>
                <%= f.text_field :yr_read, :value => @book.yr_read%><br>
                <br>
                <%= label_tag('books[times_read]', "Times Read")%><br>
                <%= number_field_tag('books[times_read]', value = @book.times_read)%><br>
            </p></td>
                        
            <td><p>
                <%= f.label :tag %><br>
                <%= f.text_field :tag, :value => @book.tag%>
            </p></td>

                <%= f.submit "Save Changes", class: 'btn btn-primary' %>
        <% end %>
</div>